= form_with(model: place.likes.find_by(user_id: current_user.id), html: { method: :delete }, remote: true) do |f|
  = button_tag(class: "btn btn-default btn-xs d-flex align-items-center") do
    i.fas.fa-heart.text-danger
    h5.ml-2.my-0 #{place.likes.count}