@import '~bootstrap/scss/bootstrap';

$text-grey: rgb(91, 112, 131);

@mixin grey-border{
  border: solid 2px #EEEEEE;
}

@mixin y-center{
  display: flex;
  align-items: center;
}

body{
  margin-top: 83px;
}

header{
  .navbar {
    background-color: #FFFF99;
  }
  .title{
    h3{
      font-family: 'Anton', sans-serif;
    }
  }
  .nav-link{
    @include y-center;
    justify-content: center;
  }
}
.alert{
  margin: 0;
}

// ページごとのタイトル
.subhead{
  h2{
    border-bottom: solid 2px #1F2125;
    margin: 2% 0;
  }
}

// 入力フォーム
.form{
  border: solid 1px #EEEEEE;
  border-radius: 1%;
  margin-top: 10px;
  p{
    color: red;
  }
}

// placeのwifiとcost
.place_wifi_cost{
  // @include y-center;
  .wifi{
    @include y-center;
  }
  .cost{
    @include y-center;
  }
  .url{
    @include y-center;    
  }
}
// placeの製作者の画像と名前
.user_link{
  @include y-center;
  color: black;
}

// placeの制作日
.created_at{
  @include y-center;
  color: $text-grey;
}

// タグ
.place_tags{
  display: flex;
  width: 100%;
  margin: 0;
  .tag{
    margin-left: 5px;
    a{
      padding: 0 3px;
    }
  }
}



// _user
.user_form{
  position: relative;
  z-index: 1;
  border: solid #EEEEEE;
  border-width: 0 0 1px 0;
  &:hover{
    border: solid rgb(0, 123, 255);
    border-width: 2px 0 2px 0;
  }
  .user_link{
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .inlink{
    position: relative;
    z-index: 3;
  }
}

// users/show
.user_show{
  .follow{
    .content{
      color: rgb(91, 112, 131);
    }
  }
}

.my_content:hover{
  background-color: #D9E5FF;
}

.follow_count{
  a{
    color: $text-grey;
  }
}

// users/record_show
.record{
  h4{
    @include y-center;
    #text{
      @include y-center;
    }
  }
  .day_record_info{
    .time{
      @include y-center;
      .icon{
        width: 30px;
        height: 30px;
        margin: 0.5rem;
      }
    }
    .title{
      @include y-center;
      .icon{
        width: 30px;
        height: 30px;
        margin: 0.5rem;
      }
    }
    .content{
      min-height: 130px;
      @include grey-border;
    }
  }
}


// places/show
.place_show{
  .row{
    margin-bottom: 10px;
  }
  .place_title{
    @include grey-border;
    border-radius: 3%;
    margin-bottom: 5%;
  }
  .user_info{
    @include y-center;
  }
  .place_recommend{
    font-size: 120%;
  }
  .place_edit_form{
    margin: 0 0.5rem 0 auto;
  }
  .poster_comment{
    .title{
      @include y-center;
    }
    .icon{
      width: 30px;
      height: 30px;
      margin: 0 0.5rem 0.5rem 0.5rem;
    }
    .content{
      min-height: 130px;
      @include grey-border;
    }
  }
  .place_wifi_cost{
    @include grey-border;
    border-radius: 3%;
    margin-bottom: 5%;
    img{
      width: 30px;
      height: 30px;
      margin: 0.5rem;
    }
    .icon{
      width: 30px;
      height: 30px;
      margin: 0.5rem;
    }
    .word{
      font-size: 120%;
    }
    a{
      word-break: break-all;
    }
  }
  .place_address{
    @include y-center;
    margin-bottom: 2px;
    .map-icon{
      color: red;
    }
    .address{
      border-bottom: solid 2px black;
    }
  }
  .map{
    margin-bottom: 5%;
    #map{
      height: 180px;
      width: 100%;
    }
  }
  .star-icon{
    color: #28a745;
  }
  .comments{
    margin-bottom: 5%;
    .title{
      @include y-center;
      .icon{
        width: 30px;
        height: 30px;
        margin: 0 0.5rem 0.5rem 0.5rem;
      }
    }
    .content{
      @include grey-border;
      word-wrap: break-word;
      margin-bottom: 10px;
    }
  }
  .comment_form{
    margin-bottom: 5%;
    .content{
      @include grey-border;
    }
  }
  
}


// places/index
.home_back{
  background-image: url('/assets/haikei.jpg');
  // background-image: image-url('haikei.jpg');
  background-size: cover;
  position: relative;
  &::before{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
  height: 330px;
  .home{
    position: relative;
    top: 50px;
    .text_contents{
      color: white;
    }
  }
}

// places/tag_search
.tag_search{
  display: flex;
  justify-content: center;
  h2{
    margin-top: 2%;
  }
  span{
    color: white;
    background-color: #17a2b8;
    padding: 0 3px;
    border-radius: 3px;
  }
}

.serch_box{
  padding: 2%;
  margin: 2% auto;
  border: solid 2px #1F2125;
  background-color: #f8f9fa;
  border-radius: 8px;
  .box_title{
    .serch_icon{
      @include y-center;
      justify-content: center;
    }
    h4{
      border-bottom: solid 2px #1F2125;
    }
  }
}

// _place
.place_content{
  @include grey-border;
  border-radius: 0 0 3% 3%;
  position: relative;
  z-index: 1;
  &:hover{
    border: solid 2px rgb(0, 123, 255);
  }
  .place_link{
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .inlink{
    position: relative;
    z-index: 3;
  }
  .title h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .place_wifi_cost{
    @include y-center;
    img{
      height: 25%;
      width: 25%;
    }
  }
  .user_info{
    @include y-center;
  }
  .place_like{
    margin: 0 0 0 auto;
  }
}


