@import '~bootstrap/scss/bootstrap';

body{
  margin-top: 90px;
}

header{
  .title{
    h3{
      font-family: 'Anton', sans-serif;
    }
  }
  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// places/show
.place_show{
  .place_title{
    a{
      color: rgb(91, 112, 131);
    }
    .user_info{
      color: rgb(91, 112, 131);
    }
  }
  #map{
    height: 400px;
    width: 100%;
  }
  .star-icon{
    color: yellow;
  }
  .content{
    border-bottom: solid 2px #C0C0C0;
    margin-bottom: 3%;
    font-size: 110%;
  }
}


// place/index
.serch_box{
  padding: 2%;
  margin: 2% auto;
  background-color: #F7F8F9;
  border: solid 2px #1F2125;
  border-radius: 8px;
  .box_title{
    .serch_icon{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h4{
      border-bottom: solid 2px #1F2125;
    }
  }
}

// _place
.place_content{
  border: solid 2px #EEEEEE;
  border-radius: 2px;
  .title{
    a{
      color: black;
    }
  }
  .place_info1{
    a{
      color: rgb(91, 112, 131);
    }
    color: rgb(91, 112, 131);
  }
  .place_image_thumb{
    img{
      height: 250px;
      width: 350px;
    }
  }
}


.place_image{
  img{
    height: 400px;
    width: 500px;
  }
}