@import '~bootstrap/scss/bootstrap';

body{
  margin-top: 90px;
}

header{
  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#map{
  height: 400px;
  width: 600px;
}