meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"
link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"
= javascript_include_tag "https://www.gstatic.com/charts/loader.js"